body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.game-board {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px;
}

/* Add styling for the tiles and grid */
.tile {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 4px;
  user-select: none;
}

.tile.hidden {
  background-color: #888;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Adjust based on your gridSize */
  gap: 10px;
  margin-top: 20px;
}

/*Sucess Screen*/

.success-screen {
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 8px;
  margin: 20px;
}

.success-screen button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.score-and-time {
  display: flex;
  justify-content: space-between;
}

.label-name {
  font-size: 24px;
  text-decoration: underline;
  text-align: right;
}
